doctype html
html
    head
        title Spotify Visualiser
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel="stylesheet")
        link(rel="stylesheet" href="http://localhost:3000/public/css/main.css")

    body
        #wrapper
            h1 Spotify Visualiser
            input(type='hidden' name='token' value=token)
            input(type='text' name='q' placeholder="Search tracks")
            input(type='submit' value='Get Tracks')
        canvas If you see this, your browser is old and it should be updated

        
        script(src="/public/scripts/webaudio.min.js")
        script(src="/public/scripts/tquery-bundle.min.js")

        script(src="/public/scripts/app.js")