doctype html
html
    head
        title Spotify Visualiser
        link(href="https://fonts.googleapis.com/css?family=Roboto:400,700" rel=stylesheet)
        link(rel=stylesheet href="/public/css/main.css")

    body
        #wrapper
            main.track-list Here go the tracks
            input(type='hidden' name='token' value=token)
            input(type='text' name='q' placeholder="Search tracks")
            input(type='submit' value='Get Tracks')

        script(src="/public/scripts/app.js")